In [1]:
import pandas as pd

In [81]:
expenditure_tanzania = pd.read_csv("data/tanzania/Tanzania [Reformatted] - Food Expenditures (2019-20).csv")
expenditure_uganda = pd.read_csv("data/uganda/Uganda - Expenditures (2019-20).csv")

In [82]:
expenditure_tanzania

,i,t,m,Cassava Fresh,Chicken,Cooking Oil,Leafy Greens,Millet & Sorghum (flour),Salt,Sugar,...,Cassava Dry/Flour,Yams/Cocoyams,"Butter, Etc.",Milk (dry or canned),Sweets,Seeds,Eggs,Nuts,Other Meat,Rice (paddy)
0,0001-001-001,2019-20,Mainland Rural,1500.0000,10400.0,875.0,1757.142857,10500.000000,200.0,700.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0001-001-003,2019-20,Mainland Rural,1156.2500,NaN,875.0,1415.476190,6000.000000,200.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0001-001-004,2019-20,Dar Es Salaam,NaN,NaN,1800.0,NaN,NaN,200.0,1200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0001-004-001,2019-20,Mainland Rural,NaN,NaN,1050.0,410.000000,7500.000000,250.0,700.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0001-004-002,2019-20,Mainland Other Urban,NaN,NaN,1050.0,656.250000,7428.571429,100.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1105,0856-001-001,2019-20,Zanzibar,NaN,NaN,NaN,NaN,NaN,NaN,6000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1106,0856-001-003,2019-20,Zanzibar,2000.0000,NaN,3000.0,NaN,NaN,160.0,2000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1107,0857-001-001,2019-20,Zanzibar,3000.0000,NaN,3000.0,NaN,NaN,NaN,2000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1108,0858-001-001,2019-20,Dar Es Salaam,NaN,NaN,540.0,500.000000,NaN,300.0,1200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1109,0858-001-002,2019-20,Dar Es Salaam,16429.1958,NaN,12600.0,3500.000000,NaN,500.0,16800.0,...,2900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
expenditure_tanzania = expenditure_tanzania.drop(["i", "t", "m"], axis=1)
expenditure_uganda = expenditure_uganda.drop(["i", "t", "m"], axis=1)

In [76]:
expenditure_tanzania

,Cassava Fresh,Chicken,Cooking Oil,Leafy Greens,Millet & Sorghum (flour),Salt,Sugar,Tea (dry),Vegetables (fresh),Beef,...,Cassava Dry/Flour,Yams/Cocoyams,"Butter, Etc.",Milk (dry or canned),Sweets,Seeds,Eggs,Nuts,Other Meat,Rice (paddy)
0,1500.0000,10400.0,875.0,1757.142857,10500.000000,200.0,700.0,120.0,2700.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1156.2500,NaN,875.0,1415.476190,6000.000000,200.0,NaN,NaN,1882.500000,3000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,1800.0,NaN,NaN,200.0,1200.0,200.0,1143.676471,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,1050.0,410.000000,7500.000000,250.0,700.0,210.0,1275.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,1050.0,656.250000,7428.571429,100.0,NaN,NaN,463.636364,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1105,NaN,NaN,NaN,NaN,NaN,NaN,6000.0,150.0,1866.666667,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1106,2000.0000,NaN,3000.0,NaN,NaN,160.0,2000.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1107,3000.0000,NaN,3000.0,NaN,NaN,NaN,2000.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1108,NaN,NaN,540.0,500.000000,NaN,300.0,1200.0,210.0,6535.294118,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1109,16429.1958,NaN,12600.0,3500.000000,NaN,500.0,16800.0,NaN,11436.764710,NaN,...,2900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
total_expenditures = expenditure_tanzania.sum(skipna=True)
total_expenditures_sorted_tanzania = total_expenditures.sort_values(ascending=False)
total_expenditures_sorted_tanzania

Rice (husked)               3.303460e+07
Plantains                   9.627917e+06
Fish (fresh)                8.108534e+06
Maize (flour)               7.998220e+06
Cooking Oil                 5.336080e+06
Beef                        3.256800e+06
Pulses                      2.590600e+06
Vegetables (fresh)          2.505376e+06
Honey, Syrups, etc.         1.958390e+06
Chicken                     1.660910e+06
Sugar                       1.646704e+06
Leafy Greens                1.637236e+06
Sweet Potatoes              1.243341e+06
Fish (dried)                1.204240e+06
Buns, Cakes And Biscuits    1.064172e+06
Coconuts                    1.056218e+06
Milk (fresh)                1.044583e+06
Cassava Fresh               9.322647e+05
Cassava Dry/Flour           9.006900e+05
Goat Meat                   7.902500e+05
Irish Potatoes              6.675800e+05
Bread                       6.610960e+05
Dairy Products              6.048100e+05
Citrus Fruits               5.862754e+05
Ripe Bananas                5.706422e+05
Maize (green, cob)          5.629594e+05
Soft drinks                 5.432143e+05
Wheat Flour                 5.279300e+05
Millet & Sorghum (flour)    4.495893e+05
Maize (grain)               3.232300e+05
Groundnuts                  3.223815e+05
Macaroni, Spaghetti         3.087429e+05
Yams/Cocoyams               2.968510e+05
Pork                        2.843333e+05
Salt                        2.738900e+05
Tea (dry)                   2.695886e+05
Vegetables (preserved)      2.290514e+05
Bottled Beer                2.250857e+05
Sugarcane                   1.472353e+05
Rice (paddy)                7.200000e+04
Milk (dry or canned)        6.882292e+04
Nuts                        5.850000e+04
Wine & Spirits              5.233333e+04
Butter, Etc.                5.225625e+04
Other Cereals               4.364968e+04
Sweets                      3.066321e+04
Coffee & Cocoa              1.617476e+04
Eggs                        9.000000e+03
Other Meat                  3.000000e+03
Seeds                       4.000000e+02
dtype: float64

In [27]:
total_expenditures = expenditure_uganda.sum(skipna=True)
total_expenditures_sorted_uganda = total_expenditures.sort_values(ascending=False)
df_total_expenditures_sorted_uganda = total_expenditures_sorted_uganda.to_frame(name='Expenditure')
df_total_expenditures_sorted_uganda.reset_index(inplace=True)
df_total_expenditures_sorted_uganda.rename(columns={'index': 'Food Item'}, inplace=True)
df_total_expenditures_sorted_uganda

         Food Item  Expenditure
0           Matoke   22355650.0
1            Beans   14568925.0
2            Maize   14337975.0
3          Cassava   13190190.0
4             Beef   13085200.0
..             ...          ...
69  Infant Formula      15000.0
70       Sugarcane       9700.0
71          Cheese        400.0
72           Sugar          0.0
73      Cornflakes          0.0

[74 rows x 2 columns]

In [30]:
food_uganda = pd.read_csv("data/uganda/Uganda - FCT.csv")

In [20]:
food_uganda

,j,Energy,Protein,Fiber,Folate,Calcium,Carbohydrate,Iron,Niacin,Riboflavin,Thiamin,Vitamin A,Vitamin B-12,Vitamin B-6,Vitamin C,Zinc
0,Avocado,1600,20.0,70.0,810,120,85.0,6.0,17.38,1.30,0.67,70,0.0,2.57,100,6.0
1,Beans (dry),1700,98.0,60.0,500,580,325.0,30.0,7.00,1.20,3.40,0,0.0,2.15,10,8.0
2,Beans (fresh),3470,214.0,160.0,5250,1130,626.0,51.0,11.74,2.12,7.13,0,0.0,4.74,63,23.0
3,Beef,2510,182.0,0.0,60,70,0.0,19.0,31.50,1.60,0.90,0,28.9,3.80,0,37.0
4,Beef (roasted),2910,264.0,0.0,70,90,0.0,27.0,37.20,2.20,0.90,0,24.7,3.40,0,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Tomatoes,180,9.0,10.0,150,100,39.0,3.0,5.94,0.19,0.37,420,0.0,0.80,127,2.0
99,Waragi,2630,0.0,0.0,0,0,0.0,0.0,0.00,0.00,0.00,0,0.0,0.00,0,0.0
100,Watermelon,300,6.1,4.0,30,70,75.5,2.4,1.78,0.21,0.33,280,0.0,0.45,81,1.0
101,Wheat (flour),3640,103.0,30.0,260,150,763.0,12.0,12.50,0.40,1.20,0,0.0,0.44,0,7.0
102,Yams (arrowroot),1180,15.0,40.0,230,170,279.0,5.0,5.52,0.32,1.12,70,0.0,2.93,171,2.0

In [22]:
food_uganda_sorted_vitamin_c = food_uganda.sort_values(by='Vitamin C', ascending=False)
food_uganda_sorted_vitamin_c

,j,Energy,Protein,Fiber,Folate,Calcium,Carbohydrate,Iron,Niacin,Riboflavin,Thiamin,Vitamin A,Vitamin B-12,Vitamin B-6,Vitamin C,Zinc
33,Green Pepper,200,9.0,20.0,100,100,46.0,3.0,4.80,0.28,0.57,180,0.0,2.24,804,1.0
15,Cassava (flour),3140,26.0,40.0,360,310,766.0,19.0,14.00,0.50,3.10,70,0.0,7.00,720,7.0
59,Okra,580,44.0,20.0,1180,5300,90.0,7.0,2.00,28.00,2.50,610,0.0,0.00,590,20.0
11,Cabbage (red),310,14.0,20.0,180,450,74.0,8.0,4.18,0.69,0.64,560,0.0,2.09,570,2.0
62,Other Juice (packed),450,1.0,0.0,0,1180,113.0,1.0,2.50,10.40,1.10,0,0.0,0.70,551,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55,Mukene,960,201.0,0.0,240,100,0.0,6.0,39.03,0.63,0.41,0,15.8,1.62,0,3.0
10,Bread,2660,76.0,20.0,1110,1510,506.0,37.0,43.85,3.31,4.55,0,0.0,0.84,0,7.0
9,Bongo,640,33.0,0.0,50,1620,45.0,1.0,1.00,1.50,0.20,370,4.4,0.36,0,6.0
6,Beef Offal,850,120.7,0.0,50,690,0.0,5.9,8.81,0.64,0.00,0,13.9,0.14,0,14.2
51,Milk (Fresh),600,32.0,0.0,50,1130,45.0,0.0,1.07,1.83,0.44,280,4.4,0.36,0,4.0

In [31]:
food_tanzania = pd.read_csv("data/tanzania/Tanzania [Reformatted] - FCT.csv")

In [32]:
food_tanzania_sorted_protein = food_tanzania.sort_values(by='Protein', ascending=False)
food_tanzania_sorted_protein

,j,Energy,Protein,Fiber,Folate,Calcium,Carbohydrate,Iron,Niacin,Riboflavin,Thiamin,Vitamin A,Vitamin B-12,Vitamin B-6,Vitamin C,Zinc
1,Chicken,2390,273.00,0.0,50,150,0.00,13.00,84.870,1.680,0.630,480,3.00,4.000,0.0,19.00
46,Other Meat,1090,206.00,0.0,50,130,0.00,28.00,37.500,4.900,1.100,0,11.30,2.000,0.0,40.00
16,Goat Meat,1090,206.00,0.0,50,130,0.00,28.00,37.500,4.900,1.100,0,11.30,2.000,0.0,40.00
45,Nuts,4370,199.00,70.0,1850,710,124.00,35.00,93.030,1.040,4.930,0,0.00,2.680,0.0,25.00
36,Pork,2000,195.00,0.0,50,190,0.00,8.00,44.900,2.500,8.900,20,6.30,4.600,6.0,19.00
15,Fish (fresh),1390,193.00,0.0,10,110,0.00,4.00,23.000,1.700,1.300,300,24.00,4.000,16.0,5.00
9,Beef,2510,182.00,0.0,60,70,0.00,19.00,31.500,1.600,0.900,0,28.90,3.800,0.0,37.00
23,Macaroni/Spaghetti,3710,130.00,32.0,180,210,747.00,13.00,17.000,0.600,0.900,0,0.00,1.420,0.0,14.00
44,Eggs,1430,126.00,0.0,470,530,8.00,18.00,0.700,4.780,0.690,1400,12.90,1.430,0.0,11.00
4,Millet & Sorghum (flour),3740,109.00,90.0,840,80,721.00,30.00,46.680,2.870,4.160,0,0.00,3.800,0.0,17.00
28,Wheat Flour,3640,103.00,30.0,260,150,763.00,12.00,12.500,0.400,1.200,0,0.00,0.440,0.0,7.00
29,Bread,2660,76.00,20.0,1110,1510,506.00,37.00,43.850,3.310,4.550,0,0.00,0.840,0.0,7.00
47,Rice (paddy),3620,75.00,30.0,200,330,762.00,18.00,43.080,0.430,4.130,0,0.00,5.090,0.0,20.00
12,Maize (flour),3690,73.00,40.0,300,30,792.00,11.00,10.000,0.500,1.400,0,0.00,1.980,0.0,7.00
19,Rice (husked),3600,66.00,0.0,90,90,793.00,8.00,16.000,0.480,0.700,0,0.00,1.450,0.0,12.00
11,Fish (dried),290,62.80,0.0,25,160,0.00,2.50,7.500,0.240,0.268,42,10.00,0.864,3.5,1.59
14,"Buns, Cakes And Biscuits",3570,54.00,10.0,380,1300,572.00,15.00,15.330,2.420,1.860,150,0.80,0.210,2.0,3.00
31,Maize (grain),1720,44.00,30.0,90,30,349.00,13.00,17.040,0.940,1.810,50,0.00,2.920,0.0,10.00
17,Milk (fresh),600,32.00,0.0,50,1130,45.00,0.00,1.070,1.830,0.440,280,4.40,0.360,0.0,4.00
41,Milk (dry or canned),600,32.00,0.0,50,1130,45.00,0.00,1.070,1.830,0.440,280,4.40,0.360,0.0,4.00
38,Cassava (flour),3140,26.00,40.0,360,310,766.00,19.00,14.000,0.500,3.100,70,0.00,7.000,720.0,7.00
26,Groundnuts,567,25.00,8.0,240,92,16.00,4.60,12.000,0.135,0.640,0,0.00,0.348,0.0,3.30
21,Sweet Potatoes,1230,23.00,40.0,160,430,289.00,9.00,8.000,0.880,1.120,2250,0.00,3.000,34.0,4.00
27,Irish Potatoes,770,20.00,20.0,160,120,175.00,8.00,10.540,0.320,0.800,0,0.00,2.950,197.0,3.00
43,Seeds,609,18.90,7.2,0,116,24.50,4.37,0.000,0.000,0.000,0,0.00,0.000,0.0,5.58
39,Yams/Cocoyams,1180,15.00,40.0,230,170,279.00,5.00,5.520,0.320,1.120,70,0.00,2.930,171.0,2.00
0,Cassava Fresh,1600,14.00,20.0,270,160,381.00,3.00,8.540,0.480,0.870,10,0.00,0.880,206.0,3.00
33,Ripe Bananas,890,11.00,30.0,200,50,228.00,3.00,6.650,0.730,0.310,30,0.00,3.670,87.0,2.00
35,"Maize (green, cob)",364,8.75,8.4,0,5,73.90,1.74,2.600,0.230,0.160,0,0.00,0.470,0.0,2.24
13,Pulses,127,8.70,6.4,130,27,22.80,2.10,0.400,0.060,0.070,0,0.00,0.100,0.0,0.90
32,Sugarcane,540,6.00,31.0,0,80,130.00,14.00,1.000,0.100,0.200,0,0.00,0.000,30.0,0.00
24,Coconuts,354,3.30,9.0,26,14,15.00,2.43,0.540,0.057,0.066,0,0.00,0.054,3.3,1.10
10,Dairy Products,61,3.27,0.0,0,123,4.63,0.00,0.105,0.138,0.056,32,0.54,0.061,0.0,0.42
34,Bottled Beer,410,3.00,0.0,60,50,37.00,0.00,5.100,0.300,0.100,0,0.20,0.500,0.0,0.00
22,"Honey, Syrups, etc.",3040,3.00,0.0,20,60,824.00,4.00,1.210,0.380,0.000,0,0.00,0.240,5.0,2.00
8,0.01,27,2.85,1.6,116,68,4.07,1.26,0.551,0.194,0.077,283,0.00,0.195,26.5,0.45
18,Plantains,122,1.30,2.3,22,3,31.00,0.60,0.600,0.100,0.100,112,0.00,0.300,18.4,0.30
3,Leafy Greens,22,1.09,0.0,0,40,4.07,0.32,0.375,0.000,0.082,0,0.00,0.071,15.2,0.31
30,Citrus Fruits,52,0.91,2.0,25,43,11.80,0.33,0.425,0.051,0.068,0,0.00,0.079,59.1,0.11
25,Coffee & Cocoa,2,0.28,0.0,0,5,0.00,0.01,0.500,0.010,0.010,0,0.00,0.002,0.0,0.02
37,Wine & Spirits,125,0.10,0.0,2,14,3.80,0.70,0.300,0.040,0.010,0,0.00,0.100,0.0,0.20
40,"Butter, Etc.",0,0.00,0.0,0,14,0.00,0.03,0.000,0.000,0.000,0,0.00,0.000,0.0,0.07
7,Tea (dry),1,0.00,0.0,5,0,0.30,0.02,0.000,0.014,0.000,0,0.00,0.000,0.0,0.02
42,Sweets,387,0.00,0.0,0,0,98.00,0.00,0.000,0.000,0.000,0,0.00,0.000,0.0,0.00
6,Sugar,3870,0.00,0.0,0,10,1000.00,0.00,0.000,0.190,0.000,0,0.00,0.000,0.0,0.00
5,Salt,0,0.00,0.0,0,50,0.00,0.00,0.000,0.000,0.000,0,0.00,0.000,0.0,0.00
20,Soft drinks,150,0.00,0.0,0,0,39.00,0.00,0.000,0.000,0.000,0,0.00,0.000,0.0,0.00
2,Cooking Oil,8840,0.00,0.0,0,0,0.00,0.00,0.000,0.000,0.000,0,0.00,0.000,0.0,0.00

In [43]:
import numpy as np

In [85]:
tanzania_food_prices = pd.read_csv("data/tanzania/Tanzania 2019-21 - Food Prices (2019-20).csv", skiprows=1)
tanzania_food_prices

,j,u,Dar Es Salaam,Mainland Other Urban,Mainland Rural,Zanzibar
0,Beef,kg,6000.000000,6000.000000,6000.000000,9000.000000
1,Bottled Beer,kg,4285.714286,4000.000000,4000.000000,NaN
2,Bottled Beer,piece,NaN,NaN,NaN,NaN
3,Bread,kg,2211.111111,2222.222222,2000.000000,2000.000000
4,Bread,piece,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
78,Wheat Flour,kg,1300.000000,1400.000000,1400.000000,1400.000000
79,Wild Birds & Insects,kg,NaN,NaN,NaN,NaN
80,Wine & Spirits,kg,6666.666667,14666.666670,NaN,NaN
81,Wine & Spirits,piece,NaN,NaN,NaN,NaN
82,Yams/Cocoyams,kg,1250.000000,828.571429,769.230769,1666.666667

In [86]:
uganda_food_prices = pd.read_csv("data/uganda/Uganda - Prices.csv")
uganda_food_prices

,t,m,Beans,Beef,Beer,Biscuits,Bongo,Bread,"Butter, etc.",Cabbages,...,Sugarcane,Sweet Bananas,Sweet Potatoes,Tea,Tomatoes,Waragi,Water,Wheat (flour),Yam,Yogurt
0,2005-06,Central,650.000000,2500,3000.000000,NaN,NaN,1400.000000,3000.000000,1400.000000,...,NaN,54.054054,750.000000,800.000000,100.000000,NaN,NaN,NaN,NaN,NaN
1,2005-6,Eastern,550.000000,2400,2000.000000,NaN,NaN,1000.000000,3300.000000,1050.000000,...,NaN,40.000000,200.000000,800.000000,100.000000,NaN,NaN,NaN,NaN,NaN
2,2005-6,Northern,434.151414,2500,2400.000000,NaN,NaN,1000.000000,1500.000000,1225.000000,...,NaN,43.243243,200.000000,800.000000,100.000000,NaN,NaN,NaN,NaN,NaN
3,2005-6,Western,500.000000,2200,2500.000000,NaN,NaN,1000.000000,3000.000000,1050.000000,...,NaN,41.621622,200.000000,1000.000000,200.000000,NaN,NaN,NaN,NaN,NaN
4,2009-10,Central,1350.000000,5000,4000.000000,NaN,NaN,2400.000000,4800.000000,1750.000000,...,NaN,108.108108,1000.000000,800.000000,300.000000,NaN,NaN,NaN,NaN,NaN
5,2009-10,Eastern,1200.000000,4000,2750.000000,NaN,NaN,2000.000000,4400.000000,1750.000000,...,NaN,162.162162,700.000000,800.000000,200.000000,NaN,NaN,NaN,NaN,NaN
6,2009-10,Northern,1000.000000,4500,2600.000000,NaN,NaN,2000.000000,3000.000000,1750.000000,...,NaN,100.000000,450.000000,800.000000,300.000000,NaN,NaN,NaN,NaN,NaN
7,2009-10,Western,975.000000,4000,3200.000000,NaN,NaN,2400.000000,4999.999863,1750.000000,...,NaN,108.108108,325.000000,1600.000000,500.000000,NaN,NaN,NaN,NaN,NaN
8,2010-11,Central,1650.000000,5500,4000.000000,NaN,NaN,3571.428571,4545.454545,1341.514143,...,NaN,833.333333,350.000000,1000.000000,375.000000,NaN,NaN,NaN,NaN,NaN
9,2010-11,Eastern,1300.000000,5000,2600.000000,NaN,NaN,2000.000000,4800.000000,1341.514143,...,NaN,833.333333,350.000000,1000.000000,250.000000,NaN,NaN,NaN,NaN,NaN
10,2010-11,Northern,1600.000000,5000,3000.000000,NaN,NaN,2000.000000,5200.000000,1679.389313,...,NaN,833.333333,416.666667,1000.000000,250.000000,NaN,NaN,NaN,NaN,NaN
11,2010-11,Western,1200.000000,5000,4000.000000,NaN,NaN,3428.571429,2500.000000,1341.514143,...,NaN,375.735294,275.000000,2000.000000,490.196078,NaN,NaN,NaN,NaN,NaN
12,2011-12,Central,1750.000000,7500,5000.000000,NaN,NaN,4000.000000,8000.000000,1679.389313,...,NaN,700.000000,840.196078,1200.000000,490.196078,NaN,NaN,NaN,NaN,NaN
13,2011-12,Eastern,1400.000000,6800,4228.571429,NaN,NaN,4000.000000,1000.000000,1679.389313,...,NaN,833.333333,690.196078,1000.000000,375.000000,NaN,NaN,NaN,NaN,NaN
14,2011-12,Northern,2000.000000,7000,3800.000000,NaN,NaN,2000.000000,3500.000000,2142.857143,...,NaN,1000.000000,875.000000,1000.000000,375.000000,NaN,NaN,NaN,NaN,NaN
15,2011-12,Western,1250.000000,7000,4000.000000,NaN,NaN,3500.000000,3100.000000,1428.571429,...,NaN,833.333333,395.833333,2000.000000,500.000000,NaN,NaN,NaN,NaN,NaN
16,2013-14,Central,2000.000000,8000,5857.142857,NaN,NaN,3500.000000,6538.461538,1796.202757,...,NaN,833.333333,1237.745098,6666.666667,625.000000,NaN,1000.000000,2500.0,NaN,NaN
17,2013-14,Eastern,1750.000000,7000,4750.000000,NaN,NaN,3500.000000,7000.000000,1428.571429,...,NaN,671.755725,679.166667,6666.666667,600.000000,NaN,1000.000000,2225.0,NaN,NaN
18,2013-14,Northern,2000.000000,7000,4000.000000,NaN,NaN,2000.000000,5230.769231,2142.857143,...,NaN,833.333333,642.647059,6666.666667,375.000000,NaN,1333.333333,2250.0,NaN,NaN
19,2013-14,Western,1700.000000,7000,5000.000000,NaN,NaN,3500.000000,6000.000000,1878.119800,...,NaN,700.000000,1000.000000,6666.666667,750.000000,NaN,1000.000000,2000.0,NaN,NaN
20,2015-16,Central,2200.000000,9000,5833.333333,NaN,NaN,3500.000000,6538.461538,1878.119800,...,NaN,833.333333,979.166667,10000.000000,625.000000,NaN,1333.333333,2800.0,NaN,NaN
21,2015-16,Eastern,2200.000000,8000,4200.000000,NaN,NaN,4000.000000,6900.000000,1428.571429,...,NaN,972.972973,755.555556,6666.666667,536.605657,NaN,1500.000000,3000.0,NaN,NaN
22,2015-16,Northern,2000.000000,8000,4000.000000,NaN,NaN,2500.000000,8647.435828,2683.028286,...,NaN,875.000000,833.333333,10000.000000,375.000000,NaN,1100.000000,3000.0,NaN,NaN
23,2015-16,Western,1800.000000,8000,6000.000000,NaN,NaN,4000.000000,4999.999963,2146.422629,...,NaN,725.221239,875.000000,13333.333330,750.000000,NaN,1000.000000,2000.0,NaN,NaN
24,2018-19,Central,2100.000000,10000,5500.000000,2000.0,2000.0,4400.000000,9600.000000,2351.145038,...,1679.389313,820.796460,1000.000000,11500.000000,625.000000,6666.666667,2000.000000,2600.0,1500.000000,6000.0
25,2018-19,Eastern,1900.000000,9000,5250.000000,3000.0,1000.0,4400.000000,9800.000000,1679.389313,...,1007.633588,1225.000000,738.888889,10000.000000,625.000000,6666.666667,2000.000000,2500.0,1250.000000,4000.0
26,2018-19,Northern,5500.000000,10000,4300.000000,2000.0,800.0,5000.000000,9000.000000,2683.028286,...,1679.389313,1041.666667,611.111111,7500.000000,536.605657,6666.666667,1600.000000,2875.0,1375.000000,7100.0
27,2018-19,Western,1750.000000,10000,6500.000000,2000.0,2000.0,4500.000000,8500.000000,2142.857143,...,1679.389313,1458.333333,1031.250000,6500.000000,750.000000,6000.000000,1500.000000,2000.0,1250.000000,NaN
28,2019-20,Central,2500.000000,12000,6000.000000,5000.0,1000.0,4500.000000,10000.000000,2683.028286,...,1679.389313,1169.607843,1550.000000,13000.000000,671.755725,8000.000000,1000.000000,2875.0,3358.778626,5000.0
29,2019-20,Eastern,2275.000000,10000,6785.714286,2000.0,1000.0,4500.000000,10000.000000,1679.389313,...,1428.571429,1225.000000,794.444444,10000.000000,625.000000,6000.000000,1600.000000,2500.0,3465.103599,7200.0
30,2019-20,Northern,8833.333333,10000,6500.000000,2000.0,1000.0,5000.000000,NaN,2683.028286,...,714.285714,1398.039216,1000.000000,10000.000000,625.000000,4000.000000,2000.000000,3000.0,5366.056572,7000.0
31,2019-20,Western,2200.000000,10000,5000.000000,2000.0,1250.0,4500.000000,6250.000000,2351.145038,...,1341.514143,1720.588235,735.294118,11666.666670,750.000000,6000.000000,2000.000000,3200.0,5038.167939,8600.0

In [61]:
tanzania_food_prices = pd.read_csv("data/tanzania/Tanzania 2019-21 - Food Prices (2019-20).csv")
tanzania_fish = tanzania_food_prices[tanzania_food_prices["Unnamed: 0"] == "Fish (fresh)"]
tanzania_fish_kg = tanzania_fish[tanzania_fish["Unnamed: 1"] == "kg"]
columns_to_average = ["2019-20", "2019-20.1", "2019-20.2", "2019-20.3"]
average_price_per_kg = np.mean(list(tanzania_fish_kg[columns_to_average].mean()))
total_expenditures_sorted_tanzania["Fish (fresh)"]//average_price_per_kg

1924.0

In [71]:
fish_price_uganda = np.average(uganda_food_prices['Fish (fresh)'])
fish_expenditure_uganda = total_expenditures_sorted_uganda["Fish (fresh)"]
fish_expenditure_uganda//fish_price_uganda

3375.0

In [75]:
uganda_food_prices

,t,m,Beans,Beef,Beer,Biscuits,Bongo,Bread,"Butter, etc.",Cabbages,...,Sugarcane,Sweet Bananas,Sweet Potatoes,Tea,Tomatoes,Waragi,Water,Wheat (flour),Yam,Yogurt
0,2005-06,Central,650.000000,2500,3000.000000,NaN,NaN,1400.000000,3000.000000,1400.000000,...,NaN,54.054054,750.000000,800.000000,100.000000,NaN,NaN,NaN,NaN,NaN
1,2005-6,Eastern,550.000000,2400,2000.000000,NaN,NaN,1000.000000,3300.000000,1050.000000,...,NaN,40.000000,200.000000,800.000000,100.000000,NaN,NaN,NaN,NaN,NaN
2,2005-6,Northern,434.151414,2500,2400.000000,NaN,NaN,1000.000000,1500.000000,1225.000000,...,NaN,43.243243,200.000000,800.000000,100.000000,NaN,NaN,NaN,NaN,NaN
3,2005-6,Western,500.000000,2200,2500.000000,NaN,NaN,1000.000000,3000.000000,1050.000000,...,NaN,41.621622,200.000000,1000.000000,200.000000,NaN,NaN,NaN,NaN,NaN
4,2009-10,Central,1350.000000,5000,4000.000000,NaN,NaN,2400.000000,4800.000000,1750.000000,...,NaN,108.108108,1000.000000,800.000000,300.000000,NaN,NaN,NaN,NaN,NaN
5,2009-10,Eastern,1200.000000,4000,2750.000000,NaN,NaN,2000.000000,4400.000000,1750.000000,...,NaN,162.162162,700.000000,800.000000,200.000000,NaN,NaN,NaN,NaN,NaN
6,2009-10,Northern,1000.000000,4500,2600.000000,NaN,NaN,2000.000000,3000.000000,1750.000000,...,NaN,100.000000,450.000000,800.000000,300.000000,NaN,NaN,NaN,NaN,NaN
7,2009-10,Western,975.000000,4000,3200.000000,NaN,NaN,2400.000000,4999.999863,1750.000000,...,NaN,108.108108,325.000000,1600.000000,500.000000,NaN,NaN,NaN,NaN,NaN
8,2010-11,Central,1650.000000,5500,4000.000000,NaN,NaN,3571.428571,4545.454545,1341.514143,...,NaN,833.333333,350.000000,1000.000000,375.000000,NaN,NaN,NaN,NaN,NaN
9,2010-11,Eastern,1300.000000,5000,2600.000000,NaN,NaN,2000.000000,4800.000000,1341.514143,...,NaN,833.333333,350.000000,1000.000000,250.000000,NaN,NaN,NaN,NaN,NaN
10,2010-11,Northern,1600.000000,5000,3000.000000,NaN,NaN,2000.000000,5200.000000,1679.389313,...,NaN,833.333333,416.666667,1000.000000,250.000000,NaN,NaN,NaN,NaN,NaN
11,2010-11,Western,1200.000000,5000,4000.000000,NaN,NaN,3428.571429,2500.000000,1341.514143,...,NaN,375.735294,275.000000,2000.000000,490.196078,NaN,NaN,NaN,NaN,NaN
12,2011-12,Central,1750.000000,7500,5000.000000,NaN,NaN,4000.000000,8000.000000,1679.389313,...,NaN,700.000000,840.196078,1200.000000,490.196078,NaN,NaN,NaN,NaN,NaN
13,2011-12,Eastern,1400.000000,6800,4228.571429,NaN,NaN,4000.000000,1000.000000,1679.389313,...,NaN,833.333333,690.196078,1000.000000,375.000000,NaN,NaN,NaN,NaN,NaN
14,2011-12,Northern,2000.000000,7000,3800.000000,NaN,NaN,2000.000000,3500.000000,2142.857143,...,NaN,1000.000000,875.000000,1000.000000,375.000000,NaN,NaN,NaN,NaN,NaN
15,2011-12,Western,1250.000000,7000,4000.000000,NaN,NaN,3500.000000,3100.000000,1428.571429,...,NaN,833.333333,395.833333,2000.000000,500.000000,NaN,NaN,NaN,NaN,NaN
16,2013-14,Central,2000.000000,8000,5857.142857,NaN,NaN,3500.000000,6538.461538,1796.202757,...,NaN,833.333333,1237.745098,6666.666667,625.000000,NaN,1000.000000,2500.0,NaN,NaN
17,2013-14,Eastern,1750.000000,7000,4750.000000,NaN,NaN,3500.000000,7000.000000,1428.571429,...,NaN,671.755725,679.166667,6666.666667,600.000000,NaN,1000.000000,2225.0,NaN,NaN
18,2013-14,Northern,2000.000000,7000,4000.000000,NaN,NaN,2000.000000,5230.769231,2142.857143,...,NaN,833.333333,642.647059,6666.666667,375.000000,NaN,1333.333333,2250.0,NaN,NaN
19,2013-14,Western,1700.000000,7000,5000.000000,NaN,NaN,3500.000000,6000.000000,1878.119800,...,NaN,700.000000,1000.000000,6666.666667,750.000000,NaN,1000.000000,2000.0,NaN,NaN
20,2015-16,Central,2200.000000,9000,5833.333333,NaN,NaN,3500.000000,6538.461538,1878.119800,...,NaN,833.333333,979.166667,10000.000000,625.000000,NaN,1333.333333,2800.0,NaN,NaN
21,2015-16,Eastern,2200.000000,8000,4200.000000,NaN,NaN,4000.000000,6900.000000,1428.571429,...,NaN,972.972973,755.555556,6666.666667,536.605657,NaN,1500.000000,3000.0,NaN,NaN
22,2015-16,Northern,2000.000000,8000,4000.000000,NaN,NaN,2500.000000,8647.435828,2683.028286,...,NaN,875.000000,833.333333,10000.000000,375.000000,NaN,1100.000000,3000.0,NaN,NaN
23,2015-16,Western,1800.000000,8000,6000.000000,NaN,NaN,4000.000000,4999.999963,2146.422629,...,NaN,725.221239,875.000000,13333.333330,750.000000,NaN,1000.000000,2000.0,NaN,NaN
24,2018-19,Central,2100.000000,10000,5500.000000,2000.0,2000.0,4400.000000,9600.000000,2351.145038,...,1679.389313,820.796460,1000.000000,11500.000000,625.000000,6666.666667,2000.000000,2600.0,1500.000000,6000.0
25,2018-19,Eastern,1900.000000,9000,5250.000000,3000.0,1000.0,4400.000000,9800.000000,1679.389313,...,1007.633588,1225.000000,738.888889,10000.000000,625.000000,6666.666667,2000.000000,2500.0,1250.000000,4000.0
26,2018-19,Northern,5500.000000,10000,4300.000000,2000.0,800.0,5000.000000,9000.000000,2683.028286,...,1679.389313,1041.666667,611.111111,7500.000000,536.605657,6666.666667,1600.000000,2875.0,1375.000000,7100.0
27,2018-19,Western,1750.000000,10000,6500.000000,2000.0,2000.0,4500.000000,8500.000000,2142.857143,...,1679.389313,1458.333333,1031.250000,6500.000000,750.000000,6000.000000,1500.000000,2000.0,1250.000000,NaN
28,2019-20,Central,2500.000000,12000,6000.000000,5000.0,1000.0,4500.000000,10000.000000,2683.028286,...,1679.389313,1169.607843,1550.000000,13000.000000,671.755725,8000.000000,1000.000000,2875.0,3358.778626,5000.0
29,2019-20,Eastern,2275.000000,10000,6785.714286,2000.0,1000.0,4500.000000,10000.000000,1679.389313,...,1428.571429,1225.000000,794.444444,10000.000000,625.000000,6000.000000,1600.000000,2500.0,3465.103599,7200.0
30,2019-20,Northern,8833.333333,10000,6500.000000,2000.0,1000.0,5000.000000,NaN,2683.028286,...,714.285714,1398.039216,1000.000000,10000.000000,625.000000,4000.000000,2000.000000,3000.0,5366.056572,7000.0
31,2019-20,Western,2200.000000,10000,5000.000000,2000.0,1250.0,4500.000000,6250.000000,2351.145038,...,1341.514143,1720.588235,735.294118,11666.666670,750.000000,6000.000000,2000.000000,3200.0,5038.167939,8600.0

In [74]:
tanzania_food_prices

,Unnamed: 0,Unnamed: 1,2019-20,2019-20.1,2019-20.2,2019-20.3
0,j,u,Dar Es Salaam,Mainland Other Urban,Mainland Rural,Zanzibar
1,Beef,kg,6000,6000,6000,9000
2,Bottled Beer,kg,4285.714286,4000,4000,NaN
3,Bottled Beer,piece,NaN,NaN,NaN,NaN
4,Bread,kg,2211.111111,2222.222222,2000,2000
...,...,...,...,...,...,...
79,Wheat Flour,kg,1300,1400,1400,1400
80,Wild Birds & Insects,kg,NaN,NaN,NaN,NaN
81,Wine & Spirits,kg,6666.666667,14666.66667,NaN,NaN
82,Wine & Spirits,piece,NaN,NaN,NaN,NaN
83,Yams/Cocoyams,kg,1250,828.5714286,769.2307692,1666.666667

In [62]:
uganda_food_prices = pd.read_csv("data/uganda/Uganda - Prices.csv")
tanzania_fish = tanzania_food_prices[tanzania_food_prices["Unnamed: 0"] == "Fish (fresh)"]
tanzania_fish_kg = tanzania_fish[tanzania_fish["Unnamed: 1"] == "kg"]
columns_to_average = ["2019-20", "2019-20.1", "2019-20.2", "2019-20.3"]
average_price_per_kg = np.mean(list(tanzania_fish_kg[columns_to_average].mean()))
total_expenditures_sorted_tanzania["Fish (fresh)"]//average_price_per_kg

1924.0

In [59]:
total_expenditures_sorted_tanzania["Fish (fresh)"]

8108534.000013599

In [51]:
tanzania_fish_kg

      Unnamed: 0 Unnamed: 1 2019-20 2019-20.1    2019-20.2 2019-20.3
25  Fish (fresh)         kg    7000      4000  2857.142857      3000

In [55]:
list(tanzania_fish_kg["2019-20"])[0]

'7000'

In [37]:
8.108534e+06//4214.28571425

1924.0

In [88]:
tanzania_food_prices

,j,u,Dar Es Salaam,Mainland Other Urban,Mainland Rural,Zanzibar
0,Beef,kg,6000.000000,6000.000000,6000.000000,9000.000000
1,Bottled Beer,kg,4285.714286,4000.000000,4000.000000,NaN
2,Bottled Beer,piece,NaN,NaN,NaN,NaN
3,Bread,kg,2211.111111,2222.222222,2000.000000,2000.000000
4,Bread,piece,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
78,Wheat Flour,kg,1300.000000,1400.000000,1400.000000,1400.000000
79,Wild Birds & Insects,kg,NaN,NaN,NaN,NaN
80,Wine & Spirits,kg,6666.666667,14666.666670,NaN,NaN
81,Wine & Spirits,piece,NaN,NaN,NaN,NaN
82,Yams/Cocoyams,kg,1250.000000,828.571429,769.230769,1666.666667

In [77]:
# Assuming 'Fish (fresh)' is the item of interest and its average prices per kg can be found in 'tanzania_food_prices'
# Extract average prices for 'Fish (fresh)' in Dar Es Salaam and Zanzibar
fish_prices_dar_es_salaam = tanzania_food_prices.loc[tanzania_food_prices["Unnamed: 0"] == "Fish (fresh)", "2019-20"].mean()
fish_prices_zanzibar = tanzania_food_prices.loc[tanzania_food_prices["Unnamed: 0"] == "Fish (fresh)", "2019-20.3"].mean()

# Assume 'Fish (fresh)' expenditure is available in 'expenditure_tanzania' for these regions
# For demonstration, let's use placeholders for fish expenditure in Dar Es Salaam and Zanzibar
# You would replace these placeholders with the actual expenditure data from your 'expenditure_tanzania' DataFrame
fish_expenditure_dar_es_salaam = 10000  # Placeholder expenditure for Dar Es Salaam
fish_expenditure_zanzibar = 5000  # Placeholder expenditure for Zanzibar

# Calculate the quantity of fish consumed based on expenditure and average price per kg
quantity_fish_dar_es_salaam = fish_expenditure_dar_es_salaam / fish_prices_dar_es_salaam
quantity_fish_zanzibar = fish_expenditure_zanzibar / fish_prices_zanzibar

(quantity_fish_dar_es_salaam, quantity_fish_zanzibar)

TypeError: can only concatenate str (not "int") to str

In [93]:
new_df = pd.read_csv("data/tanzania/Tanzania [Reformatted] - Food Expenditures (2019-20).csv")
new_df["Cassava Fresh"] = new_df["Cassava Fresh"] + 1000
new_df.to_csv("more_cassava_tanzania.csv")